<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>  

  <div class="container-fluid main">
    <div class="covertext">
      <div class="col-lg-10" style="float:none; margin:0 auto;">
        <a href="/login"><button>Sair</button></a>
        <h3 class="subtitle">Móveis que combinam estilo e conforto em um único espaço</h3>
      </div>
      <div class="col-xs-12 explore">
        <a href="/imoveis"><button type="button" class="btn btn-lg explorebtn">ANUNCIE AQUI</button></a>
      </div>
    </div>  
  </div>

  <div class="container">
    <% for (const imovel of imoveis) { %>
        <div class="imovel-details">
          <img src="/uploads/<%= imovel.image_url %>">
          <h1><%= imovel.description %></h1>
            <p><strong>Endereço:</strong> <%= imovel.address %></p>
            <p><strong>Telefone:</strong> <%= imovel.phone_number %></p>
            <p><strong>Valor:</strong> <%= imovel.value %></p>
            <button>Ver mais</button>
        </div>
    <% } %>
</div>

      

</body>

   